/* Inter */
@font-face {
	font-display: block;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/inter/Inter.ttf') format('truetype-variations');
}
/* Inter italic*/
@font-face {
	font-display: block;
	font-family: 'Inter';
	font-style: italic;
	src: url('/fonts/inter/Inter-italic.ttf') format('truetype-variations');
}
