@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Scheme (you probably shouldn't change this) */
@layer base {
	:root {
		color-scheme: light;
	}

	.dark {
		color-scheme: dark;
	}
}

/* Minimum tap target (you probably shouldn't change this) */
@layer base {
	:root {
		--min-tap-target: 24px;
	}
	@media (pointer: coarse) {
		:root {
			--min-tap-target: 44px;
		}
	}
}

/* ### Design Tokens ### */
/* Spacing: https://andrecasal.com/articles/fluid-space-sizing */
@layer base {
	:root {
		/* 👇 Edit these values */
		--content-min-width: 20; /* 320px */
		--content-max-width: 96; /* 1536px */
		--scale-20-min-size: 10; /* 160px */
		--scale-20-max-size: 26; /* 416px */
		--scale-19-min-size: 8; /* 128px */
		--scale-19-max-size: 16; /* 256px */
		--scale-18-min-size: 5; /* 80px */
		--scale-18-max-size: 9; /* 144px */
		--scale-17-min-size: 4; /* 64px */
		--scale-17-max-size: 6; /* 96px */
		--scale-16-min-size: 3; /* 48px */
		--scale-16-max-size: 4; /* 64px */
		--scale-15-min-size: 2.5; /* 40px */
		--scale-15-max-size: 3; /* 48px */
		--scale-14: 2.25; /* 36px */
		--scale-13: 2; /* 32px */
		--scale-12: 1.75; /* 28px */
		--scale-11: 1.5; /* 24px */
		--scale-10: 1.25; /* 20px */
		--scale-9: 1; /* 16px */
		--scale-8: 0.875; /* 14px */
		--scale-7: 0.75; /* 12px */
		--scale-6: 0.625; /* 10px */
		--scale-5: 0.5; /* 8px */
		--scale-4: 0.375; /* 6px */
		--scale-3: 0.25; /* 4px */
		--scale-2: 0.125; /* 2px */
		--scale-1: 0.0625; /* 1px */
		--scale-0: 0; /* 0px */

		/* Calculations (you only need to change this if you need to add or change sizes from fixed to fluid) */
		--size-deltaX: calc(var(--content-max-width) - var(--content-min-width));
		/* space-20 */
		--space-20-deltaY: calc(var(--scale-20-max-size) - var(--scale-20-min-size));
		--space-20-gradient: calc(var(--space-20-deltaY) / var(--size-deltaX));
		--space-20-intercept: calc(var(--scale-20-min-size) - (var(--space-20-gradient) * var(--content-min-width)));
		--space-20-font-size: calc(var(--space-20-gradient) * 100vw + var(--space-20-intercept) * 1rem);
		--space-20: clamp(calc(var(--scale-20-min-size) * 1rem), var(--space-20-font-size), calc(var(--scale-20-max-size) * 1rem));
		/* space-19 */
		--space-19-deltaY: calc(var(--scale-19-max-size) - var(--scale-19-min-size));
		--space-19-gradient: calc(var(--space-19-deltaY) / var(--size-deltaX));
		--space-19-intercept: calc(var(--scale-19-min-size) - (var(--space-19-gradient) * var(--content-min-width)));
		--space-19-font-size: calc(var(--space-19-gradient) * 100vw + var(--space-19-intercept) * 1rem);
		--space-19: clamp(calc(var(--scale-19-min-size) * 1rem), var(--space-19-font-size), calc(var(--scale-19-max-size) * 1rem));
		/* space-18 */
		--space-18-deltaY: calc(var(--scale-18-max-size) - var(--scale-18-min-size));
		--space-18-gradient: calc(var(--space-18-deltaY) / var(--size-deltaX));
		--space-18-intercept: calc(var(--scale-18-min-size) - (var(--space-18-gradient) * var(--content-min-width)));
		--space-18-font-size: calc(var(--space-18-gradient) * 100vw + var(--space-18-intercept) * 1rem);
		--space-18: clamp(calc(var(--scale-18-min-size) * 1rem), var(--space-18-font-size), calc(var(--scale-18-max-size) * 1rem));
		/* space-17 */
		--space-17-deltaY: calc(var(--scale-17-max-size) - var(--scale-17-min-size));
		--space-17-gradient: calc(var(--space-17-deltaY) / var(--size-deltaX));
		--space-17-intercept: calc(var(--scale-17-min-size) - (var(--space-17-gradient) * var(--content-min-width)));
		--space-17-font-size: calc(var(--space-17-gradient) * 100vw + var(--space-17-intercept) * 1rem);
		--space-17: clamp(calc(var(--scale-17-min-size) * 1rem), var(--space-17-font-size), calc(var(--scale-17-max-size) * 1rem));
		/* space-16 */
		--space-16-deltaY: calc(var(--scale-16-max-size) - var(--scale-16-min-size));
		--space-16-gradient: calc(var(--space-16-deltaY) / var(--size-deltaX));
		--space-16-intercept: calc(var(--scale-16-min-size) - (var(--space-16-gradient) * var(--content-min-width)));
		--space-16-font-size: calc(var(--space-16-gradient) * 100vw + var(--space-16-intercept) * 1rem);
		--space-16: clamp(calc(var(--scale-16-min-size) * 1rem), var(--space-16-font-size), calc(var(--scale-16-max-size) * 1rem));
		/* space-15 */
		--space-15-deltaY: calc(var(--scale-15-max-size) - var(--scale-15-min-size));
		--space-15-gradient: calc(var(--space-15-deltaY) / var(--size-deltaX));
		--space-15-intercept: calc(var(--scale-15-min-size) - (var(--space-15-gradient) * var(--content-min-width)));
		--space-15-font-size: calc(var(--space-15-gradient) * 100vw + var(--space-15-intercept) * 1rem);
		--space-15: clamp(calc(var(--scale-15-min-size) * 1rem), var(--space-15-font-size), calc(var(--scale-15-max-size) * 1rem));
		/* space-14 to space-0 */
		--space-14: calc(var(--scale-14) * 1rem);
		--space-13: calc(var(--scale-13) * 1rem);
		--space-12: calc(var(--scale-12) * 1rem);
		--space-11: calc(var(--scale-11) * 1rem);
		--space-10: calc(var(--scale-10) * 1rem);
		--space-9: calc(var(--scale-9) * 1rem);
		--space-8: calc(var(--scale-8) * 1rem);
		--space-7: calc(var(--scale-7) * 1rem);
		--space-6: calc(var(--scale-6) * 1rem);
		--space-5: calc(var(--scale-5) * 1rem);
		--space-4: calc(var(--scale-4) * 1rem);
		--space-3: calc(var(--scale-3) * 1rem);
		--space-2: calc(var(--scale-2) * 1rem);
		--space-1: calc(var(--scale-1) * 1rem);
		--space-0: calc(var(--scale-0) * 1rem);
	}
}

/* Roundness */
@layer base {
	:root {
		--radius: 0.375rem;
	}
}

/* Typography: https://andrecasal.com/articles/fluid-typography-sizing-with-modular-scales */
@layer base {
	:root {
		/* Font family */
		--font-sans: Inter; /* This requires the font.css file to be preloaded in the root.tsx */
		--font-code: 'Fira Code VF'; /* This requires the font.css file to be preloaded in the root.tsx */

		/* Font size */
		--text-size-6xl-min-size: 4.5;
		--text-size-6xl-max-size: 8;
		--text-size-5xl-min-size: 3;
		--text-size-5xl-max-size: 6;
		--text-size-4xl-min-size: 2.25;
		--text-size-4xl-max-size: 3.75;
		--text-size-3xl-min-size: 1.875;
		--text-size-3xl-max-size: 2.25;
		--text-size-2xl-min-size: 1.5;
		--text-size-2xl-max-size: 1.875;
		--text-size-xl-min-size: 1.25;
		--text-size-xl-max-size: 1.5;
		--text-size-lg-min-size: 1.125;
		--text-size-lg-max-size: 1.25;
		--text-size-md-min-size: 1;
		--text-size-md-max-size: 1.125;
		--text-size-sm-min-size: 0.875;
		--text-size-sm-max-size: 1;
		--text-size-xs-min-size: 0.75;
		--text-size-xs-max-size: 0.875;

		/* Line-height. Default values. This should be adapted to paragraph length: 1em for 45 characters, 2em for 75 characters. */
		--text-line-height-xs: clamp(1.125rem, 6.2vw, 1.75rem); /* 12px <-> 14px => 18px <-> 28px */
		--text-line-height-sm: clamp(1.25rem, 6.2vw, 2rem); /* 20px <-> 32px */
		--text-line-height-md: clamp(1.5rem, 6vw, 2.25rem); /* 24px <-> 36px */
		--text-line-height-lg: clamp(1.75rem, 5.8vw, 2.25rem); /* 28px <-> 36px */
		--text-line-height-xl: clamp(2rem, 6.5vw, 2.5rem); /* 32px <-> 40px */
		--text-line-height-2xl: 1.5;
		--text-line-height-3xl: 1.5;
		--text-line-height-4xl: 1.2;
		--text-line-height-5xl: 1.2;
		--text-line-height-6xl: 1.2;

		/* Tracking. Default values. Can be overridden by the 'tracking' prop on the <Heading /> and <Text /> components) */
		--text-tracking-xs: 0em;
		--text-tracking-sm: 0em;
		--text-tracking-md: 0em;
		--text-tracking-lg: 0em;
		--text-tracking-xl: 0em;
		--text-tracking-2xl: -0.025em;
		--text-tracking-3xl: -0.025em;
		--text-tracking-4xl: -0.025em;
		--text-tracking-5xl: -0.05em;
		--text-tracking-6xl: -0.05em;

		/* Calculations (you probably don't need to change this) */
		/* text-size-6xl */
		--text-size-6xl-deltaY: calc(var(--text-size-6xl-max-size) - var(--text-size-6xl-min-size));
		--text-size-6xl-gradient: calc(var(--text-size-6xl-deltaY) / var(--size-deltaX));
		--text-size-6xl-intercept: calc(var(--text-size-6xl-min-size) - (var(--text-size-6xl-gradient) * var(--content-min-width)));
		--text-size-6xl-font-size: calc(var(--text-size-6xl-gradient) * 100vw + var(--text-size-6xl-intercept) * 1rem);
		--text-size-6xl: clamp(calc(var(--text-size-6xl-min-size) * 1rem), var(--text-size-6xl-font-size), calc(var(--text-size-6xl-max-size) * 1rem));
		/* text-size-5xl */
		--text-size-5xl-deltaY: calc(var(--text-size-5xl-max-size) - var(--text-size-5xl-min-size));
		--text-size-5xl-gradient: calc(var(--text-size-5xl-deltaY) / var(--size-deltaX));
		--text-size-5xl-intercept: calc(var(--text-size-5xl-min-size) - (var(--text-size-5xl-gradient) * var(--content-min-width)));
		--text-size-5xl-font-size: calc(var(--text-size-5xl-gradient) * 100vw + var(--text-size-5xl-intercept) * 1rem);
		--text-size-5xl: clamp(calc(var(--text-size-5xl-min-size) * 1rem), var(--text-size-5xl-font-size), calc(var(--text-size-5xl-max-size) * 1rem));
		/* text-size-4xl */
		--text-size-4xl-deltaY: calc(var(--text-size-4xl-max-size) - var(--text-size-4xl-min-size));
		--text-size-4xl-gradient: calc(var(--text-size-4xl-deltaY) / var(--size-deltaX));
		--text-size-4xl-intercept: calc(var(--text-size-4xl-min-size) - (var(--text-size-4xl-gradient) * var(--content-min-width)));
		--text-size-4xl-font-size: calc(var(--text-size-4xl-gradient) * 100vw + var(--text-size-4xl-intercept) * 1rem);
		--text-size-4xl: clamp(calc(var(--text-size-4xl-min-size) * 1rem), var(--text-size-4xl-font-size), calc(var(--text-size-4xl-max-size) * 1rem));
		/* text-size-3xl */
		--text-size-3xl-deltaY: calc(var(--text-size-3xl-max-size) - var(--text-size-3xl-min-size));
		--text-size-3xl-gradient: calc(var(--text-size-3xl-deltaY) / var(--size-deltaX));
		--text-size-3xl-intercept: calc(var(--text-size-3xl-min-size) - (var(--text-size-3xl-gradient) * var(--content-min-width)));
		--text-size-3xl-font-size: calc(var(--text-size-3xl-gradient) * 100vw + var(--text-size-3xl-intercept) * 1rem);
		--text-size-3xl: clamp(calc(var(--text-size-3xl-min-size) * 1rem), var(--text-size-3xl-font-size), calc(var(--text-size-3xl-max-size) * 1rem));
		/* text-size-2xl */
		--text-size-2xl-deltaY: calc(var(--text-size-2xl-max-size) - var(--text-size-2xl-min-size));
		--text-size-2xl-gradient: calc(var(--text-size-2xl-deltaY) / var(--size-deltaX));
		--text-size-2xl-intercept: calc(var(--text-size-2xl-min-size) - (var(--text-size-2xl-gradient) * var(--content-min-width)));
		--text-size-2xl-font-size: calc(var(--text-size-2xl-gradient) * 100vw + var(--text-size-2xl-intercept) * 1rem);
		--text-size-2xl: clamp(calc(var(--text-size-2xl-min-size) * 1rem), var(--text-size-2xl-font-size), calc(var(--text-size-2xl-max-size) * 1rem));
		/* text-size-xl */
		--text-size-xl-deltaY: calc(var(--text-size-xl-max-size) - var(--text-size-xl-min-size));
		--text-size-xl-gradient: calc(var(--text-size-xl-deltaY) / var(--size-deltaX));
		--text-size-xl-intercept: calc(var(--text-size-xl-min-size) - (var(--text-size-xl-gradient) * var(--content-min-width)));
		--text-size-xl-font-size: calc(var(--text-size-xl-gradient) * 100vw + var(--text-size-xl-intercept) * 1rem);
		--text-size-xl: clamp(calc(var(--text-size-xl-min-size) * 1rem), var(--text-size-xl-font-size), calc(var(--text-size-xl-max-size) * 1rem));
		/* text-size-lg */
		--text-size-lg-deltaY: calc(var(--text-size-lg-max-size) - var(--text-size-lg-min-size));
		--text-size-lg-gradient: calc(var(--text-size-lg-deltaY) / var(--size-deltaX));
		--text-size-lg-intercept: calc(var(--text-size-lg-min-size) - (var(--text-size-lg-gradient) * var(--content-min-width)));
		--text-size-lg-font-size: calc(var(--text-size-lg-gradient) * 100vw + var(--text-size-lg-intercept) * 1rem);
		--text-size-lg: clamp(calc(var(--text-size-lg-min-size) * 1rem), var(--text-size-lg-font-size), calc(var(--text-size-lg-max-size) * 1rem));
		/* text-size-md */
		--text-size-md-deltaY: calc(var(--text-size-md-max-size) - var(--text-size-md-min-size));
		--text-size-md-gradient: calc(var(--text-size-md-deltaY) / var(--size-deltaX));
		--text-size-md-intercept: calc(var(--text-size-md-min-size) - (var(--text-size-md-gradient) * var(--content-min-width)));
		--text-size-md-font-size: calc(var(--text-size-md-gradient) * 100vw + var(--text-size-md-intercept) * 1rem);
		--text-size-md: clamp(calc(var(--text-size-md-min-size) * 1rem), var(--text-size-md-font-size), calc(var(--text-size-md-max-size) * 1rem));
		/* text-size-sm */
		--text-size-sm-deltaY: calc(var(--text-size-sm-max-size) - var(--text-size-sm-min-size));
		--text-size-sm-gradient: calc(var(--text-size-sm-deltaY) / var(--size-deltaX));
		--text-size-sm-intercept: calc(var(--text-size-sm-min-size) - (var(--text-size-sm-gradient) * var(--content-min-width)));
		--text-size-sm-font-size: calc(var(--text-size-sm-gradient) * 100vw + var(--text-size-sm-intercept) * 1rem);
		--text-size-sm: clamp(calc(var(--text-size-sm-min-size) * 1rem), var(--text-size-sm-font-size), calc(var(--text-size-sm-max-size) * 1rem));
		/* text-size-xs */
		--text-size-xs-deltaY: calc(var(--text-size-xs-max-size) - var(--text-size-xs-min-size));
		--text-size-xs-gradient: calc(var(--text-size-xs-deltaY) / var(--size-deltaX));
		--text-size-xs-intercept: calc(var(--text-size-xs-min-size) - (var(--text-size-xs-gradient) * var(--content-min-width)));
		--text-size-xs-font-size: calc(var(--text-size-xs-gradient) * 100vw + var(--text-size-xs-intercept) * 1rem);
		--text-size-xs: clamp(calc(var(--text-size-xs-min-size) * 1rem), var(--text-size-xs-font-size), calc(var(--text-size-xs-max-size) * 1rem));
	}
}

/* Colors */
@layer base {
	:root {
		--color-background: 0 0% 100%;
		--color-foreground: 0 0% 0%;
		--color-brand: 41 96.1% 40.4%;
		--color-brand-muted: 45 93.4% 47.5%;
		--color-success-title: 143 64.2% 24.1%;
		--color-success-foreground: 142 71.8% 29.2%;
		--color-success-background: 138 76.5% 96.7%;
		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 214 100% 96.9%;
		--color-warning-title: 32 81% 28.8%;
		--color-warning-foreground: 35 91.7% 32.9%;
		--color-warning-background: 55 91.7% 95.3%;
		--color-danger-title: 0 70% 35.3%;
		--color-danger-foreground: 0 73.7% 41.8%;
		--color-danger-background: 0 85.7% 97.3%;
		--color-muted-50: 210 20% 98%;
		--color-muted-100: 220 14.3% 95.9%;
		--color-muted-200: 220 13% 91%;
		--color-muted-300: 216 12.2% 83.9%;
		--color-muted-400: 218 10.6% 64.9%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 215 13.8% 34.1%;
		--color-muted-700: 217 19.1% 26.7%;
		--color-muted-800: 215 27.9% 16.9%;
		--color-muted-900: 221 39.3% 11%;
		--color-muted-950: 224 71.4% 4.1%;
		--color-ring: 243 75.4% 58.6%;
	}

	.dark {
		--color-background: 224 35.7% 4.1%;
		--color-foreground: 0 0% 100%;
		--color-danger-foreground: 0 73.7% 61.8%;
		--color-muted-50: 224 71.4% 4.1%;
		--color-muted-100: 221 39.3% 11%;
		--color-muted-200: 215 27.9% 16.9%;
		--color-muted-300: 217 19.1% 26.7%;
		--color-muted-400: 215 13.8% 34.1%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 218 10.6% 64.9%;
		--color-muted-700: 216 12.2% 83.9%;
		--color-muted-800: 220 13% 91%;
		--color-muted-900: 220 14.3% 95.9%;
		--color-muted-950: 210 20% 98%;
		--color-ring: 239 86.4% 59.6%;

		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 221 39.3% 11%;
	}
}

/* ### Layout ### */
@layer components {
	/* Container */
	:root {
		/* 👇 Edit these values */
		--container-min-padding: var(--scale-4);
		--container-max-padding: var(--scale-13);

		/* Calculations */
		--container-deltaY: calc(var(--container-max-padding) - var(--container-min-padding));
		--container-gradient: calc(var(--container-deltaY) / var(--size-deltaX));
		--container-intercept: calc(var(--container-min-padding) - (var(--container-gradient) * var(--content-min-width)));
		--container-padding-size: calc(var(--container-gradient) * 100vw + var(--container-intercept) * 1rem);
		--container-padding-x: clamp(calc(var(--container-min-padding) * 1rem), var(--container-padding-size), calc(var(--container-max-padding) * 1rem));
	}

	/* Scroll Area */
	.scrollbar {
		@apply rounded-full bg-brand;
	}

	/* Divider */
	.divider {
		@apply bg-muted-200;
	}
}

/* ### Modals ### */
@layer components {
	/* Modal Overlay */
	.overlay {
		@apply bg-background/80 backdrop-blur-sm;
	}

	/* Dialog and Alert Dialog */
	.dialog {
		@apply grid w-full max-w-lg gap-4 border bg-background p-6 shadow-lg duration-200 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%] data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%] sm:rounded-lg md:w-full;
	}
	.dialog-x-button {
		@apply absolute right-4 top-4 min-h-tap min-w-tap rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-foreground data-[state=open]:text-muted-500;
	}
}

/* ### Overlays ### */
@layer components {
	/* Tooltip */
	.tooltip {
		@apply rounded-md bg-foreground px-space-5 text-size-sm text-background;
	}
}

/* ### Navigation ### */
@layer components {
}

/* ### Disclosure ### */
@layer components {
	/* Tabs */
	.tabsroot {
		@apply inline-block;
	}

	.tabslist {
		@apply flex justify-between gap-space-8 rounded-lg bg-muted-200 p-space-3;
	}

	.tabstrigger {
		@apply cursor-pointer rounded-md border px-space-8 py-space-4 text-muted-600 data-[state=active]:border-muted-100 data-[state=active]:bg-background data-[state=active]:text-muted-900 data-[state=active]:shadow-sm;
	}

	.tabscontent {
	}
}

/* ### Typography ### */
@layer components {
	/* Kbd */
	.kbd {
		@apply m-space-0 border-spacing-space-1 rounded-lg border border-muted-200 bg-muted-50 p-space-4 align-baseline font-code text-size-xs text-muted-900 shadow-sm;
	}

	/* Code */
	.code {
		@apply rounded-md bg-muted-200 px-space-5 py-space-2 text-muted-900;
	}
}

/* ### Media ### */
@layer components {
}

/* ### Notifications ### */
@layer components {
}

/* ### Status ### */
@layer components {
}

/* ### Actions ### */
@layer components {
}

/* ### Data Display ### */
@layer components {
}

/* ### Form Elements ### */
@layer components {
}
