@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;

		--font-sans: Inter;
		--font-code: 'Fira Code VF';

		--color-background: 0 0% 100%;
		--color-foreground: 0 0% 0%;
		--color-brand: 41 96.1% 40.4%;
		--color-brand-muted: 45 93.4% 47.5%;
		--color-success-title: 143 64.2% 24.1%;
		--color-success-foreground: 142 71.8% 29.2%;
		--color-success-background: 138 76.5% 96.7%;
		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 214 100% 96.9%;
		--color-warning-title: 32 81% 28.8%;
		--color-warning-foreground: 35 91.7% 32.9%;
		--color-warning-background: 55 91.7% 95.3%;
		--color-danger-title: 0 70% 35.3%;
		--color-danger-foreground: 0 73.7% 41.8%;
		--color-danger-background: 0 85.7% 97.3%;
		--color-muted-50: 210 20% 98%;
		--color-muted-100: 220 14.3% 95.9%;
		--color-muted-200: 220 13% 91%;
		--color-muted-300: 216 12.2% 83.9%;
		--color-muted-400: 218 10.6% 64.9%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 215 13.8% 34.1%;
		--color-muted-700: 217 19.1% 26.7%;
		--color-muted-800: 215 27.9% 16.9%;
		--color-muted-900: 221 39.3% 11%;
		--color-muted-950: 224 71.4% 4.1%;
		--color-ring: 243 75.4% 58.6%;

		--container-max-width: 80rem; /* 1280px */
		--container-padding-x: 1rem;

		/* Tell the browser to interpolate between the two scales, based on the current viewport width */
		/* Use this fluid type calculator: https://utopia.fyi/type/calculator/?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
		--text-size-4xl: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
		--text-size-4xl-line-height: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
		--text-size-3xl: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
		--text-size-3xl-line-height: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
		--text-size-2xl: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
		--text-size-2xl-line-height: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
		--text-size-xl: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
		--text-size-xl-line-height: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
		--text-size-lg: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
		--text-size-lg-line-height: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
		--text-size-md: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		--text-size-md-line-height: clamp(1rem, calc(0.91rem + 0.43vw), 1.25rem);
		--text-size-sm: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
		--text-size-sm-line-height: clamp(0.83rem, calc(0.78rem + 0.29vw), 1rem);
		--text-size-xs: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);
		--text-size-xs-line-height: clamp(0.69rem, calc(0.66rem + 0.18vw), 0.8rem);

		--radius: 0.375rem;
		--min-tap-target: 24px;
	}

	.dark {
		color-scheme: dark;
		--color-background: 224 35.7% 4.1%;
		--color-foreground: 0 0% 100%;
		--color-danger-foreground: 0 73.7% 61.8%;
		--color-muted-50: 224 71.4% 4.1%;
		--color-muted-100: 221 39.3% 11%;
		--color-muted-200: 215 27.9% 16.9%;
		--color-muted-300: 217 19.1% 26.7%;
		--color-muted-400: 215 13.8% 34.1%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 218 10.6% 64.9%;
		--color-muted-700: 216 12.2% 83.9%;
		--color-muted-800: 220 13% 91%;
		--color-muted-900: 220 14.3% 95.9%;
		--color-muted-950: 210 20% 98%;
		--color-ring: 239 86.4% 59.6%;

		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 221 39.3% 11%;
	}
}

@media (pointer: coarse) {
	:root {
		--min-tap-target: 44px;
	}
}
