@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;

		--font-sans: Inter;
		--font-code: 'Fira Code VF';

		--color-background: 0 0% 100%;
		--color-foreground: 0 0% 0%;
		--color-brand: 41 96.1% 40.4%;
		--color-brand-muted: 45 93.4% 47.5%;
		--color-success-title: 143 64.2% 24.1%;
		--color-success-foreground: 142 71.8% 29.2%;
		--color-success-background: 138 76.5% 96.7%;
		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 214 100% 96.9%;
		--color-warning-title: 32 81% 28.8%;
		--color-warning-foreground: 35 91.7% 32.9%;
		--color-warning-background: 55 91.7% 95.3%;
		--color-danger-title: 0 70% 35.3%;
		--color-danger-foreground: 0 73.7% 41.8%;
		--color-danger-background: 0 85.7% 97.3%;
		--color-muted-50: 210 20% 98%;
		--color-muted-100: 220 14.3% 95.9%;
		--color-muted-200: 220 13% 91%;
		--color-muted-300: 216 12.2% 83.9%;
		--color-muted-400: 218 10.6% 64.9%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 215 13.8% 34.1%;
		--color-muted-700: 217 19.1% 26.7%;
		--color-muted-800: 215 27.9% 16.9%;
		--color-muted-900: 221 39.3% 11%;
		--color-muted-950: 224 71.4% 4.1%;
		--color-ring: 243 75.4% 58.6%;

		--container-min-width: 20; /* 👈 you can edit this value (in rem) <=> 320px */
		--container-max-width: 96; /* 👈 you can edit this value (in rem) <=> 1536px */
		--size-deltaX: calc(var(--container-max-width) - var(--container-min-width));

		--container-padding-x: 1rem;

		/* space-20 */
		--space-20-min-size: 10; /* 👈 you can edit this value (in rem) <=> 160px */
		--space-20-max-size: 26; /* 👈 you can edit this value (in rem) <=> 416px */
		--space-20-deltaY: calc(var(--space-20-max-size) - var(--space-20-min-size));
		--space-20-gradient: calc(var(--space-20-deltaY) / var(--size-deltaX));
		--space-20-intercept: calc(var(--space-20-min-size) - (var(--space-20-gradient) * var(--container-min-width)));
		--space-20-font-size: calc(var(--space-20-gradient) * 100vw + var(--space-20-intercept) * 1rem);
		--space-20: clamp(calc(var(--space-20-min-size) * 1rem), var(--space-20-font-size), calc(var(--space-20-max-size) * 1rem));

		/* space-19 */
		--space-19-min-size: 8; /* 👈 you can edit this value (in rem) <=> 128px */
		--space-19-max-size: 16; /* 👈 you can edit this value (in rem) <=> 256px */
		--space-19-deltaY: calc(var(--space-19-max-size) - var(--space-19-min-size));
		--space-19-gradient: calc(var(--space-19-deltaY) / var(--size-deltaX));
		--space-19-intercept: calc(var(--space-19-min-size) - (var(--space-19-gradient) * var(--container-min-width)));
		--space-19-font-size: calc(var(--space-19-gradient) * 100vw + var(--space-19-intercept) * 1rem);
		--space-19: clamp(calc(var(--space-19-min-size) * 1rem), var(--space-19-font-size), calc(var(--space-19-max-size) * 1rem));

		/* space-18 */
		--space-18-min-size: 5; /* 👈 you can edit this value (in rem) <=> 80px */
		--space-18-max-size: 9; /* 👈 you can edit this value (in rem) <=> 144px */
		--space-18-deltaY: calc(var(--space-18-max-size) - var(--space-18-min-size));
		--space-18-gradient: calc(var(--space-18-deltaY) / var(--size-deltaX));
		--space-18-intercept: calc(var(--space-18-min-size) - (var(--space-18-gradient) * var(--container-min-width)));
		--space-18-font-size: calc(var(--space-18-gradient) * 100vw + var(--space-18-intercept) * 1rem);
		--space-18: clamp(calc(var(--space-18-min-size) * 1rem), var(--space-18-font-size), calc(var(--space-18-max-size) * 1rem));

		/* space-17 */
		--space-17-min-size: 4; /* 👈 you can edit this value (in rem) <=> 64px */
		--space-17-max-size: 6; /* 👈 you can edit this value (in rem) <=> 96px */
		--space-17-deltaY: calc(var(--space-17-max-size) - var(--space-17-min-size));
		--space-17-gradient: calc(var(--space-17-deltaY) / var(--size-deltaX));
		--space-17-intercept: calc(var(--space-17-min-size) - (var(--space-17-gradient) * var(--container-min-width)));
		--space-17-font-size: calc(var(--space-17-gradient) * 100vw + var(--space-17-intercept) * 1rem);
		--space-17: clamp(calc(var(--space-17-min-size) * 1rem), var(--space-17-font-size), calc(var(--space-17-max-size) * 1rem));

		/* space-16 */
		--space-16-min-size: 3; /* 👈 you can edit this value (in rem) <=> 48px */
		--space-16-max-size: 4; /* 👈 you can edit this value (in rem) <=> 64px */
		--space-16-deltaY: calc(var(--space-16-max-size) - var(--space-16-min-size));
		--space-16-gradient: calc(var(--space-16-deltaY) / var(--size-deltaX));
		--space-16-intercept: calc(var(--space-16-min-size) - (var(--space-16-gradient) * var(--container-min-width)));
		--space-16-font-size: calc(var(--space-16-gradient) * 100vw + var(--space-16-intercept) * 1rem);
		--space-16: clamp(calc(var(--space-16-min-size) * 1rem), var(--space-16-font-size), calc(var(--space-16-max-size) * 1rem));

		/* space-15 */
		--space-15-min-size: 2.5; /* 👈 you can edit this value (in rem) <=> 40px */
		--space-15-max-size: 3; /* 👈 you can edit this value (in rem) <=> 48px */
		--space-15-deltaY: calc(var(--space-15-max-size) - var(--space-15-min-size));
		--space-15-gradient: calc(var(--space-15-deltaY) / var(--size-deltaX));
		--space-15-intercept: calc(var(--space-15-min-size) - (var(--space-15-gradient) * var(--container-min-width)));
		--space-15-font-size: calc(var(--space-15-gradient) * 100vw + var(--space-15-intercept) * 1rem);
		--space-15: clamp(calc(var(--space-15-min-size) * 1rem), var(--space-15-font-size), calc(var(--space-15-max-size) * 1rem));

		/* space-14 to -0 */
		--space-14: 2.25rem; /* 👈 you can edit this value (in rem) <=> 36px */
		--space-13: 2rem; /* 👈 you can edit this value (in rem) <=> 32px */
		--space-12: 1.75rem; /* 👈 you can edit this value (in rem) <=> 28px */
		--space-11: 1.5rem; /* 👈 you can edit this value (in rem) <=> 24px */
		--space-10: 1.25rem; /* 👈 you can edit this value (in rem) <=> 20px */
		--space-9: 1rem; /* 👈 you can edit this value (in rem) <=> 16px */
		--space-8: 0.875rem; /* 👈 you can edit this value (in rem) <=> 14px */
		--space-7: 0.75rem; /* 👈 you can edit this value (in rem) <=> 12px */
		--space-6: 0.625rem; /* 👈 you can edit this value (in rem) <=> 10px */
		--space-5: 0.5rem; /* 👈 you can edit this value (in rem) <=> 8px */
		--space-4: 0.375rem; /* 👈 you can edit this value (in rem) <=> 6px */
		--space-3: 0.25rem; /* 👈 you can edit this value (in rem) <=> 4px */
		--space-2: 0.125rem; /* 👈 you can edit this value (in rem) <=> 2px */
		--space-1: 0.0625rem; /* 👈 you can edit this value (in rem) <=> 1px */
		--space-0: 0rem; /* 👈 you can edit this value (in rem) <=> 0px */

		/* text-size-6xl */
		--text-size-6xl-min-size: 4.5; /* 👈 you can edit this value (in rem) */
		--text-size-6xl-max-size: 8; /* 👈 you can edit this value (in rem) */
		--text-size-6xl-deltaY: calc(var(--text-size-6xl-max-size) - var(--text-size-6xl-min-size));
		--text-size-6xl-gradient: calc(var(--text-size-6xl-deltaY) / var(--size-deltaX));
		--text-size-6xl-intercept: calc(var(--text-size-6xl-min-size) - (var(--text-size-6xl-gradient) * var(--container-min-width)));
		--text-size-6xl-font-size: calc(var(--text-size-6xl-gradient) * 100vw + var(--text-size-6xl-intercept) * 1rem);
		--text-size-6xl: clamp(calc(var(--text-size-6xl-min-size) * 1rem), var(--text-size-6xl-font-size), calc(var(--text-size-6xl-max-size) * 1rem));

		/* text-size-5xl */
		--text-size-5xl-min-size: 3; /* 👈 you can edit this value (in rem) */
		--text-size-5xl-max-size: 6; /* 👈 you can edit this value (in rem) */
		--text-size-5xl-deltaY: calc(var(--text-size-5xl-max-size) - var(--text-size-5xl-min-size));
		--text-size-5xl-gradient: calc(var(--text-size-5xl-deltaY) / var(--size-deltaX));
		--text-size-5xl-intercept: calc(var(--text-size-5xl-min-size) - (var(--text-size-5xl-gradient) * var(--container-min-width)));
		--text-size-5xl-font-size: calc(var(--text-size-5xl-gradient) * 100vw + var(--text-size-5xl-intercept) * 1rem);
		--text-size-5xl: clamp(calc(var(--text-size-5xl-min-size) * 1rem), var(--text-size-5xl-font-size), calc(var(--text-size-5xl-max-size) * 1rem));

		/* text-size-4xl */
		--text-size-4xl-min-size: 2.25; /* 👈 you can edit this value (in rem) */
		--text-size-4xl-max-size: 3.75; /* 👈 you can edit this value (in rem) */
		--text-size-4xl-deltaY: calc(var(--text-size-4xl-max-size) - var(--text-size-4xl-min-size));
		--text-size-4xl-gradient: calc(var(--text-size-4xl-deltaY) / var(--size-deltaX));
		--text-size-4xl-intercept: calc(var(--text-size-4xl-min-size) - (var(--text-size-4xl-gradient) * var(--container-min-width)));
		--text-size-4xl-font-size: calc(var(--text-size-4xl-gradient) * 100vw + var(--text-size-4xl-intercept) * 1rem);
		--text-size-4xl: clamp(calc(var(--text-size-4xl-min-size) * 1rem), var(--text-size-4xl-font-size), calc(var(--text-size-4xl-max-size) * 1rem));

		/* text-size-3xl */
		--text-size-3xl-min-size: 1.875; /* 👈 you can edit this value (in rem) */
		--text-size-3xl-max-size: 2.25; /* 👈 you can edit this value (in rem) */
		--text-size-3xl-deltaY: calc(var(--text-size-3xl-max-size) - var(--text-size-3xl-min-size));
		--text-size-3xl-gradient: calc(var(--text-size-3xl-deltaY) / var(--size-deltaX));
		--text-size-3xl-intercept: calc(var(--text-size-3xl-min-size) - (var(--text-size-3xl-gradient) * var(--container-min-width)));
		--text-size-3xl-font-size: calc(var(--text-size-3xl-gradient) * 100vw + var(--text-size-3xl-intercept) * 1rem);
		--text-size-3xl: clamp(calc(var(--text-size-3xl-min-size) * 1rem), var(--text-size-3xl-font-size), calc(var(--text-size-3xl-max-size) * 1rem));

		/* text-size-2xl */
		--text-size-2xl-min-size: 1.5; /* 👈 you can edit this value (in rem) */
		--text-size-2xl-max-size: 1.875; /* 👈 you can edit this value (in rem) */
		--text-size-2xl-deltaY: calc(var(--text-size-2xl-max-size) - var(--text-size-2xl-min-size));
		--text-size-2xl-gradient: calc(var(--text-size-2xl-deltaY) / var(--size-deltaX));
		--text-size-2xl-intercept: calc(var(--text-size-2xl-min-size) - (var(--text-size-2xl-gradient) * var(--container-min-width)));
		--text-size-2xl-font-size: calc(var(--text-size-2xl-gradient) * 100vw + var(--text-size-2xl-intercept) * 1rem);
		--text-size-2xl: clamp(calc(var(--text-size-2xl-min-size) * 1rem), var(--text-size-2xl-font-size), calc(var(--text-size-2xl-max-size) * 1rem));

		/* text-size-xl */
		--text-size-xl-min-size: 1.25; /* 👈 you can edit this value (in rem) */
		--text-size-xl-max-size: 1.5; /* 👈 you can edit this value (in rem) */
		--text-size-xl-deltaY: calc(var(--text-size-xl-max-size) - var(--text-size-xl-min-size));
		--text-size-xl-gradient: calc(var(--text-size-xl-deltaY) / var(--size-deltaX));
		--text-size-xl-intercept: calc(var(--text-size-xl-min-size) - (var(--text-size-xl-gradient) * var(--container-min-width)));
		--text-size-xl-font-size: calc(var(--text-size-xl-gradient) * 100vw + var(--text-size-xl-intercept) * 1rem);
		--text-size-xl: clamp(calc(var(--text-size-xl-min-size) * 1rem), var(--text-size-xl-font-size), calc(var(--text-size-xl-max-size) * 1rem));

		/* text-size-lg */
		--text-size-lg-min-size: 1.125; /* 👈 you can edit this value (in rem) */
		--text-size-lg-max-size: 1.25; /* 👈 you can edit this value (in rem) */
		--text-size-lg-deltaY: calc(var(--text-size-lg-max-size) - var(--text-size-lg-min-size));
		--text-size-lg-gradient: calc(var(--text-size-lg-deltaY) / var(--size-deltaX));
		--text-size-lg-intercept: calc(var(--text-size-lg-min-size) - (var(--text-size-lg-gradient) * var(--container-min-width)));
		--text-size-lg-font-size: calc(var(--text-size-lg-gradient) * 100vw + var(--text-size-lg-intercept) * 1rem);
		--text-size-lg: clamp(calc(var(--text-size-lg-min-size) * 1rem), var(--text-size-lg-font-size), calc(var(--text-size-lg-max-size) * 1rem));

		/* text-size-md */
		--text-size-md-min-size: 1; /* 👈 you can edit this value (in rem) */
		--text-size-md-max-size: 1.125; /* 👈 you can edit this value (in rem) */
		--text-size-md-deltaY: calc(var(--text-size-md-max-size) - var(--text-size-md-min-size));
		--text-size-md-gradient: calc(var(--text-size-md-deltaY) / var(--size-deltaX));
		--text-size-md-intercept: calc(var(--text-size-md-min-size) - (var(--text-size-md-gradient) * var(--container-min-width)));
		--text-size-md-font-size: calc(var(--text-size-md-gradient) * 100vw + var(--text-size-md-intercept) * 1rem);
		--text-size-md: clamp(calc(var(--text-size-md-min-size) * 1rem), var(--text-size-md-font-size), calc(var(--text-size-md-max-size) * 1rem));

		/* text-size-sm */
		--text-size-sm-min-size: 0.875; /* 👈 you can edit this value (in rem) */
		--text-size-sm-max-size: 1; /* 👈 you can edit this value (in rem) */
		--text-size-sm-deltaY: calc(var(--text-size-sm-max-size) - var(--text-size-sm-min-size));
		--text-size-sm-gradient: calc(var(--text-size-sm-deltaY) / var(--size-deltaX));
		--text-size-sm-intercept: calc(var(--text-size-sm-min-size) - (var(--text-size-sm-gradient) * var(--container-min-width)));
		--text-size-sm-font-size: calc(var(--text-size-sm-gradient) * 100vw + var(--text-size-sm-intercept) * 1rem);
		--text-size-sm: clamp(calc(var(--text-size-sm-min-size) * 1rem), var(--text-size-sm-font-size), calc(var(--text-size-sm-max-size) * 1rem));

		/* text-size-xs */
		--text-size-xs-min-size: 0.75; /* 👈 you can edit this value (in rem) */
		--text-size-xs-max-size: 0.875; /* 👈 you can edit this value (in rem) */
		--text-size-xs-deltaY: calc(var(--text-size-xs-max-size) - var(--text-size-xs-min-size));
		--text-size-xs-gradient: calc(var(--text-size-xs-deltaY) / var(--size-deltaX));
		--text-size-xs-intercept: calc(var(--text-size-xs-min-size) - (var(--text-size-xs-gradient) * var(--container-min-width)));
		--text-size-xs-font-size: calc(var(--text-size-xs-gradient) * 100vw + var(--text-size-xs-intercept) * 1rem);
		--text-size-xs: clamp(calc(var(--text-size-xs-min-size) * 1rem), var(--text-size-xs-font-size), calc(var(--text-size-xs-max-size) * 1rem));

		/* Default line-height (this should be adapted to paragraph length: 1em for 45 characters, 2em for 75 characters) */
		--text-line-height-xs: clamp(1.125rem, 6.2vw, 1.75rem); /* 12px <-> 14px => 18px <-> 28px */
		--text-line-height-sm: clamp(1.25rem, 6.2vw, 2rem); /* 20px <-> 32px */
		--text-line-height-md: clamp(1.5rem, 6vw, 2.25rem); /* 24px <-> 36px */
		--text-line-height-lg: clamp(1.75rem, 5.8vw, 2.25rem); /* 28px <-> 36px */
		--text-line-height-xl: clamp(2rem, 6.5vw, 2.5rem); /* 32px <-> 40px */
		--text-line-height-2xl: 1.5;
		--text-line-height-3xl: 1.5;
		--text-line-height-4xl: 1.2;
		--text-line-height-5xl: 1.2;
		--text-line-height-6xl: 1.2;

		/* Default tracking. Can be overridden by the 'tracking' prop on the <Heading /> and <Text /> components) */
		--text-tracking-xs: 0em;
		--text-tracking-sm: 0em;
		--text-tracking-md: 0em;
		--text-tracking-lg: 0em;
		--text-tracking-xl: 0em;
		--text-tracking-2xl: -0.025em;
		--text-tracking-3xl: -0.025em;
		--text-tracking-4xl: -0.025em;
		--text-tracking-5xl: -0.05em;
		--text-tracking-6xl: -0.05em;

		--radius: 0.375rem;
		--min-tap-target: 24px;

		--tooltip-color-background: var(--color-foreground);
		--tooltip-color-foreground: var(--color-background);
		--tooltip-text-size: var(--text-size-sm);

		.kbd {
			margin: var(--space-0);
			padding: var(--space-4);
			border-color: hsl(var(--color-muted-200));
			border-width: var(--space-1);
			border-radius: var(--radius);
			font-family: var(--font-code);
			font-size: var(--text-size-xs);
			line-height: var(--text-line-height-xs);
			letter-spacing: var(--text-tracking-xs);
			background-color: hsl(var(--color-muted-50));
			color: hsl(var(--color-muted-900));
			box-shadow: var(--space-0) var(--space-1) var(--space-2) var(--space-0) hsl(var(--color-foreground) / 0.05);
			vertical-align: middle;
		}
	}

	.dark {
		color-scheme: dark;
		--color-background: 224 35.7% 4.1%;
		--color-foreground: 0 0% 100%;
		--color-danger-foreground: 0 73.7% 61.8%;
		--color-muted-50: 224 71.4% 4.1%;
		--color-muted-100: 221 39.3% 11%;
		--color-muted-200: 215 27.9% 16.9%;
		--color-muted-300: 217 19.1% 26.7%;
		--color-muted-400: 215 13.8% 34.1%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 218 10.6% 64.9%;
		--color-muted-700: 216 12.2% 83.9%;
		--color-muted-800: 220 13% 91%;
		--color-muted-900: 220 14.3% 95.9%;
		--color-muted-950: 210 20% 98%;
		--color-ring: 239 86.4% 59.6%;

		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 221 39.3% 11%;
	}
}

@media (pointer: coarse) {
	:root {
		--min-tap-target: 44px;
	}
}
