@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		--font-sans: Inter;
		--color-background: 0 0% 100%;
		--color-foreground: 0 0% 0%;
		--color-brand: 41 96.1% 40.4%;
		--color-brand-muted: 45 93.4% 47.5%;
		--color-success-title: 143 64.2% 24.1%;
		--color-success-foreground: 142 71.8% 29.2%;
		--color-success-background: 138 76.5% 96.7%;
		--color-info-title: 226 70.7% 40.2%;
		--color-info-foreground: 224 76.3% 48%;
		--color-info-background: 214 100% 96.9%;
		--color-warning-title: 32 81% 28.8%;
		--color-warning-foreground: 35 91.7% 32.9%;
		--color-warning-background: 55 91.7% 95.3%;
		--color-danger-title: 0 70% 35.3%;
		--color-danger-foreground: 0 73.7% 41.8%;
		--color-danger-background: 0 85.7% 97.3%;
		--color-muted-50: 210 20% 98%;
		--color-muted-100: 220 14.3% 95.9%;
		--color-muted-200: 220 13% 91%;
		--color-muted-300: 216 12.2% 83.9%;
		--color-muted-400: 218 10.6% 64.9%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 215 13.8% 34.1%;
		--color-muted-700: 217 19.1% 26.7%;
		--color-muted-800: 215 27.9% 16.9%;
		--color-muted-900: 221 39.3% 11%;
		--color-muted-950: 224 71.4% 4.1%;
		--color-ring: 243 75.4% 58.6%;
		--container-max-width: 80rem;
		--container-padding-x: 1rem;

		--typography-size-6xl: 3.75rem;
		--typography-size-5xl: 3rem;
		--typography-size-4xl: 2.25rem;
		--typography-size-3xl: 1.875rem;
		--typography-size-2xl: 1.5rem;
		--typography-size-xl: 1.25rem;
		--typography-size-lg: 1.125rem;
		--typography-size-md: 1rem;
		--typography-size-sm: 0.875rem;
		--typography-size-xs: 0.75rem;

		--radius: 0.375rem;
		--min-tap-target: 24px;
	}

	.dark {
		color-scheme: dark;
		--color-background: 0 0% 0%;
		--color-foreground: 0 0% 100%;
		--color-danger-foreground: 0 73.7% 61.8%;
		--color-muted-50: 224 71.4% 4.1%;
		--color-muted-100: 221 39.3% 11%;
		--color-muted-200: 215 27.9% 16.9%;
		--color-muted-300: 217 19.1% 26.7%;
		--color-muted-400: 215 13.8% 34.1%;
		--color-muted-500: 220 8.9% 46.1%;
		--color-muted-600: 218 10.6% 64.9%;
		--color-muted-700: 216 12.2% 83.9%;
		--color-muted-800: 220 13% 91%;
		--color-muted-900: 220 14.3% 95.9%;
		--color-muted-950: 210 20% 98%;
		--color-ring: 239 86.4% 59.6%;
	}
}

@media (pointer: coarse) {
	:root {
		--min-tap-target: 44px;
	}
}
