node_modules

/build
/public/build
/server-build
.env

/prisma/data.db
/prisma/data.db-journal
/tests/prisma

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/emails/
/tests/fixtures/subscriptions/
/coverage

/other/cache.db

.react-email

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*
